body {
    width: 50%; 
    margin: 0 auto; 
    font-family: monospace; 
    font-size: 14px; 
}

div {
    height: auto; 
    overflow: auto; 
}

#one {
    font-size: 10px; 
    background-color: lightpink; 
}

#two {
    background-color: lightgoldenrodyellow; 
}

#three {
    font-size: 14px; 
    background-color: lightcyan; 
}
