body {
	
	font-family: 'Open Sans', sans-serif;
	font-size: 18px; 
	color: #4c516d;
}
header {
	background-color: #4c516d;
	padding: 3% 0; 
}

h1 {
	font-family: 'Parisienne', cursive;
	font-size: 40px; 
	color: white; 
	text-align: right;
	margin: 0 10% 0 auto; 
}


