body {
	
	font-family: 'Open Sans', sans-serif;
	font-size: 14px; 
	color: dimgray; 
}
header {
	background-color: dimgrey; 
}

h1 {
	font-family: 'Parisienne', cursive;
	font-size: 2em; 
	color: white; 
	text-align: right;
	margin: 0 10% 0 auto; 
	padding: 10% 0; 	
}


