body {
	
	font-family: 'Open Sans', sans-serif;
	font-size: 14px; 
	color: #4c516d;
	background-color: #4c516d;
}
header {
	background-color: #4c516d;
	padding: 2% 0; 
}

h1 {
	font-family: 'Parisienne', cursive;
	font-size: 40px; 
	color: white; 
	text-align: center;
	margin: 0 auto; 
}

h2 {
	color: #add2be;
	font-size: 18px; 
	text-align: center; 
	margin: 0.5% auto; 
}

nav, footer {
	background-color: #add2be; 
	padding: 1%; 
	width: 100%; 
}

nav a, li a {
	padding: 0 3%; 
	color: #4c516d;   
	font-size: 16px; 
} 

#mainContainer {
	display: grid; 
	grid-template-columns: auto auto;  
	grid-column-gap: 5%;
	align-items: center; 
	background-color: whitesmoke; 
}

.item1 {
	grid-column-start: 1; 
	grid-column-end: 2;
}

.item2 {
	margin-right: 10%; 
	max-width: 100%; 
}

img {
  	max-width: 100%; 
}

em {
	color: #b7410e;
	font-weight: 600; 
	font-size: 18px; 
}

li {
	list-style: none;
}

a:hover, a:active {
	color: #b7410e;
}

footer p a {
	color: #4c516d; 
	text-decoration: underline;
}

footer p { 
	text-align: center; 
	margin: 0 auto; 
}




